<launch>
  <arg name="can_if" default="can1"/>
  <arg name="imu_frame_id" default="imu_frame"/>
  <arg name="debug" default="true"/>

  <arg name="output_topic_imu_name" default="/carla/ego_vehicle/imu"/>
  <arg name="output_topic_gnss_name" default="/carla/ego_vehicle/gnss"/>
  
  <node pkg="inu_can" type="inu_can_node" name="inu_can" output="screen">
    <remap from="output/imu" to="$(arg output_topic_imu_name)"/>
    <remap from="output/gnss" to="$(arg output_topic_gnss_name)"/>
    <param name="can_if" value="$(arg can_if)"/>
    <param name="imu_frame_id" value="$(arg imu_frame_id)"/>
    <param name="debug" value="$(arg debug)"/>
  </node>
</launch>